                /*  New Trending CSS */
/* ====================================================== */
.crd {
  position: relative;
  height: 23rem;
  overflow: hidden;
}

.crd-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.crd-info {
  color: hsl(0, 0%, 90%);
  position: absolute;
  bottom: 40px;
  left: 30px;
  color: darkgray;
}

.crd-heading {
  font-size: 4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0.8;
  font-weight: 900;
  color: White;
}

.crd-text {
  font-size: 1.6rem;
  opacity: 0.6;
  padding-left: 1rem;
  color: White;
}

/* effect-2 */
.crd--effect-2 .crd-info {
  top: 50%;
  left: 50%;
  bottom: unset;
  text-align: center;
  transform: translate(-50%, -50%);
}

.crd--effect-2 .crd-heading {
  transform: scale(2);
  opacity: 0;
  transition: 0.5s;
}

.crd--effect-2 .crd-text {
  padding-left: 0;
  transform: scale(1.2);
  opacity: 0;
  transition: 0.4s;
}

.crd--effect-2:hover .crd-heading {
  opacity: 0.8;
  transform: scale(1);
}

.crd--effect-2:hover .crd-text {
  opacity: 0.6;
  transform: scale(1);
}
